.container {
    background-color: white;
    border-radius: 20px;
    height: auto;
    max-height: 400px;
}

.title {
    background: var(--yellow-500);
    width: 100%;
    padding: var(--spacing-3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dislikedRecipe {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-2);
    text-wrap: wrap;
    flex-wrap: wrap;
}

.dislikedRecipe:hover {
    background-color: aliceblue;
}

.closeButton:hover {
    color: red
}

.btn {
    background-color:var(--base-100);
    transition: background-color 0.3s ease;
}
.btn:disabled {
    display: none;
}

.btn:hover {
    background-color: rgb(255, 207, 152);
}