.card-animated-image {
    width: auto;
    height: 300px;
    max-height: 300px;
    animation: pulse 2s infinite;
    border-radius: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(0.97);
    }
    50% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.97);
    }
}

/* .section-title {
    color: #d2691e;
} */

.ingredient-list .chakra-checkbox__control {
    border-color: #32cd32;
}

.ingredient-list .chakra-checkbox__control[data-checked] {
    background-color: #32cd32;
}

.instruction-list .chakra-checkbox__control {
    border-color: #ffa500;
}

.instruction-list .chakra-checkbox__control[data-checked] {
    background-color: #ffa500;
}
