input.dialog-box {
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box;
    margin: auto auto 10px;
}

.dialog-header {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.dialog-label {
    margin: 20px 15px 15px;
}

.blue-dialog-button {
    background-color: var(--blue-500);
    color: white;
    border: none;
    border-radius: 25px;
    display: table-cell;
    width: 100%;
    text-align: center;
    margin: 10px 5px; /* Margin: 10px top/bottom, 5px left/right */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.blue-dialog-button:hover {
    color: white;
    background-color: #0083e7; /* Darker background on hover */
}

.black-dialog-button {
    background-color: black;
    color: white;
    border-radius: 25px;
    display: table-cell;
    width: 100%;
    text-align: center;
    margin: 10px 5px; /* Margin: 10px top/bottom, 5px left/right */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.black-dialog-button:hover {
    color: white;
    background-color: rgb(100, 100, 100); /* Darker background on hover */
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

.checkbox-container label {
    margin-left: 8px;
    cursor: pointer;
}
