input.dialog-box {
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box;
    margin: auto auto 10px;
}

.dialog-header {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.dialog-label {
    margin: 20px 15px 15px;
}

.dialog-button {
    background-color: black;
    color: white;
    border-radius: 25px;
    display: table-cell;
    width: 100%;
    text-align: center;
    margin: 10px 5px; /* Margin: 10px top/bottom, 5px left/right */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.dialog-button:hover {
    background-color: #005a9e; /* Darker background on hover */
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

.checkbox-container label {
    margin-left: 8px;
    cursor: pointer;
}
