.container {
    min-height: 90vh;
    background-color: var(--base-100);
}

.noOfRecipes {
    box-shadow: 1px 1px 5px grey;
    max-width: 300px;
}

.recipes {
    flex-wrap: wrap;
}

.sort {
    padding: var(--spacing-1);
    border-radius: 5px;
    border: 1px solid var(--base-200);
}
