.animated-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


.modal-content {
    background-color: #fefbd8 !important;
    border: 2px solid #ffa500;
}

.modal-header {
    background-color: #ffa500;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.section-title {
    color: #d2691e;
}

.ingredient-list .chakra-checkbox__control {
    border-color: #32cd32;
}

.ingredient-list .chakra-checkbox__control[data-checked] {
    background-color: #32cd32;
}

.instruction-list .chakra-checkbox__control {
    border-color: #ffa500;
}

.instruction-list .chakra-checkbox__control[data-checked] {
    background-color: #ffa500;
}
