.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.searchBar input {
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    border: 2px solid #e0e0e0; /* Light border */
    border-radius: 25px; /* Rounded corners for a friendly look */
    font-size: 16px; /* Readable font size */
    outline: none;
    transition: all 0.3s ease;
    /* Smooth transition for focus state */
    background: white;
}

.inputBar input:focus {
    border-color: var(--orange-600) !important; /* Bright orange color for focus state */
    box-shadow: 0 0 10px rgba(255, 112, 67, 0.2); /* Subtle shadow */
}

.addButton {
    border-radius: 100%;
    color: white !important;
    background-color: var(--orange-300) !important;
}

.addButton:hover {
    background-color: var(--orange-400) !important;
}

.allergies {
    height: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
}

.inputBar {
    display: flex;
}

.inputBar input {
    border-radius: 20px;
}

