

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.search-bar input {
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    border: 2px solid #e0e0e0; /* Light border */
    border-radius: 25px; /* Rounded corners for a friendly look */
    font-size: 16px; /* Readable font size */
    outline: none;
    transition: all 0.3s ease;
    background: white;
    background-color: white; /* Smooth transition for focus state */
}

.search-bar input:focus {
    border-color: #ff7043; /* Bright orange color for focus state */
    box-shadow: 0 0 10px rgba(255, 112, 67, 0.2); /* Subtle shadow */
}

.addButton {
    color: white !important;
    background-color: var(--orange-300) !important;
}
.addButton:hover {
    background-color: #ff9a42 !important;
}

.allergies {
    height: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
}
.inputBar {
    display: flex;
}
.inputBar input {
    border-radius: 20px;
}

.tag-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.allergyTag {
    display: flex;
    align-items: center;
    background-color: #ffffff !important;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 20px;
    padding: var(--spacing-2);
    border-radius: 25px;
    font-size: 14px;
    transition: background-color 0.3s ease !important;
}

.allergyTag:hover {
    background-color: #f9f9f9;
}

.tag-close-button {
    margin-left: 10px;
    cursor: pointer;
    color: black;
}

.tag-close-button:hover {
    color: var(--orange-600);
}
