.container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-4);
    border: 1px solid black;
}