.message {
    width: 100%;
    padding: var(--spacing-2) var(--spacing-3);
    border-radius: 10px;
}

.error {
    color: rgb(195, 56, 56);
    background-color: rgb(255, 235, 235);
    border: 1px solid rgb(249, 23, 23);
}

.success {
    color: rgb(13, 200, 82);
    background-color: rgb(242, 254, 241);
    border: 1px solid rgb(15, 230, 94);
}
