.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-top: 15%;
    margin-left: 10%;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}