.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 800px;
    gap: var(--spacing-4);
}

.image {
    width: 100px;
    height: 100px;
    margin: auto;

}
