.cards{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 800px;
    padding: 32px;

}

.image{
    width:100px;
    height: 100px;
   margin: auto;

}