.container {
  background-color: white;
  border-radius: 20px;
  height: auto;
  width: 100%;
  max-height: 320px;
  border: 1px solid var(--orange-300);
}

.title {
  border-bottom: 1px solid var(--orange-300);
  /* background: var(--yellow-500);
background: linear-gradient(59deg, rgba(255,214,132,1) 16%, rgba(255,170,79,1) 100%); */
  width: 100%;
  padding: var(--spacing-3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn {
  background-color: var(--base-100);
  transition: background-color 0.3s ease;
}
.btn:disabled {
  display: none;
}

.btn:hover {
  background-color: rgb(255, 187, 110);
}
