.container {
  background-color: white;
  border-radius: 20px;
  height: auto;
  width: 100%;
  max-height: 320px;
  border: 1px solid var(--orange-300);
}

.title {
  border-bottom: 1px solid var(--orange-300);
  width: 100%;
  padding: var(--spacing-3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.allergyTag {
    display: flex;
    align-items: center;
    background-color: #ffffff !important;
    border: 1px solid rgb(190, 190, 190);
    padding: var(--spacing-2);
    border-radius: 25px;
    font-size: 14px;
    transition: background-color 0.3s ease !important;
}

.allergyTag:hover {
    background-color: #f9f9f9;
}

.tagContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tagCloseButton {
    margin-left: 10px;
    cursor: pointer;
    color: black;
}

.tagCloseButton:hover {
    color: var(--orange-600);
}

.btn {
  background-color: var(--base-100);
  transition: background-color 0.3s ease;
}
.btn:disabled {
  display: none;
}

.btn:hover {
  background-color: var(--base-200);
}
